<%= form_with(model:@task, url:choose_new_or_edit, local:true) do |form| %>
  <% if @task.errors.any? %>
    <div class="error_explanation">
      <h3><%= @task.errors.count %><%= t('view.there_are_errors') %></h3>
      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <p><%= msg %></p>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="task_form">
    <%= form.label :title %><br>
    <%= form.text_field :title, size:"40" %><br>
    <%= form.label :content %><br>
    <%= form.text_area :content, size:"40x10" %><br>
    <%= form.label :expired %><br>
    <%= form.date_field :expired %><br>
    <%= form.label :status %><br>
    <%= form.select :status, [["未着手", "未着手"], ["着手中", "着手中"], ["完了", "完了"]] %><br>
    <%= form.submit "作成", class:"btn btn-" %>
  </div>

<% end %>