<%= form_with(model:task, url:choose_new_or_edit, local:true, class:"form-group") do |form| %>
  <% if task.errors.any? %>
    <div class="error_explanation">
      <h3><%= task.errors.count %><%= t('view.there_are_errors') %></h3>
      <ul>
      <% task.errors.full_messages.each do |msg| %>
        <p><%= msg %></p>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group row">
    <%= form.label :title, class:"col-sm-2 col-form-label" %>
    <div class="col-md-5">
      <%= form.text_field :title, size:"40", class:"form-control" %>
    </div>
  </div>
  <div class="form-group row">
    <%= form.label :content, class:"col-sm-2 col-form-label" %>
    <div class="col-md-5">
      <%= form.text_area :content, size:"40x10", class:"form-control" %>
    </div>
  </div>
  <div class="form-group row">
    <%= form.label :expired, class:"col-sm-2 col-form-label" %>
    <div class="col-md-5">
      <%= form.date_field :expired, class:"form-control" %>
    </div>
  </div>
  <div class="form-group row">
    <%= form.label :status, class:"col-sm-2 col-form-label" %>
    <div class="col-md-5">
      <%= form.select :status, [["未着手", "未着手"], ["着手中", "着手中"], ["完了", "完了"]], class:"form-control form-control-lg" %>
    </div>
  </div>
  <div class="form-group row">
    <%= form.label :priority, class:"col-sm-2 col-form-label" %>
    <div class="col-md-5">
      <%= form.select :priority, Task.priorities.keys.map {|k| [k, k]}, class:"form-control form-control-lg" %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-2"></div>
    <div class="col-md-5">
      <%= form.submit nil, class:"btn btn-primary" %>
    </div>
  </div>

<% end %>