<h3><%= t('view.can_i_send_the_following_contents?') %></h3>
<%= form_with(model:@task, url:tasks_path, local:true) do |form| %>
  <%= form.hidden_field :title %>
  <%= form.hidden_field :content %>
  <%= form.hidden_field :expired %>
  <%= form.hidden_field :status %>
  <%= form.hidden_field :priority %>
  <div class="task-title">
    <%= t('view.title') %><br><%= @task.title %>
  </div>
  <div class="task-content">
    <%= t('view.content') %><br><%= @task.content %>
  </div>
  <div class="task-end-time">
    <%= t('view.end_time') %><br><%= @task.expired %>
  </div>
  <div class="task-status">
    <%= t('view.status') %><br><%= @task.status %>
  </div>
  <div class="task-priority">
    <%= t('view.priority') %><br><%= @task.priority %>
  </div>
  <div class="submit">
    <ul>
      <li><%= form.submit "作成", class:"btn btn-" %></li>
      <li><%= form.submit "戻る", name: 'back', class:"btn btn-" %></li>
    </ul>
  </div>
<% end %>