<h3><%= t('view.can_i_send_the_following_contents?') %></h3>
<%= form_with(model:@task, url:tasks_path, local:true) do |form| %>
  <%= form.hidden_field :title %>
  <%= form.hidden_field :content %>
  <%= form.hidden_field :expired %>
  <%= form.hidden_field :status %>
  <%= form.hidden_field :priority %>
  <%= form.hidden_field :lable_ids %>
<div class="col-md-6">
  <table class="table table.hover">
    <tbody>
      <tr>
        <th scope="col"><%= t('view.title') %></th>
        <td scope="col"><%= @task.title %></td>
      </tr>
      <tr>
        <th scope="col"><%= t('view.content') %></th>
        <td scope="col"><%= @task.content %></td>
      </tr>
      <tr>
        <th scope="col"><%= t('view.end_time') %></th>
        <td scope="col"><%= @task.expired %></td>
      </tr>
      <tr>
        <th scope="col"><%= t('view.status') %></th>
        <td scope="col"><%= @task.status %></td>
      </tr>
      <tr>
        <th scope="col"><%= t('view.priority') %></th>
        <td scope="col"><%= @task.priority %></td>
      </tr>
      <tr>
        <th scope="col">【ラベル】</th>
        <td scope="col">
          <% Label.all.each do |label| %>
          <%= form.check_box :label_ids, { multiple: true, checked: label[:checked], disabled: label[:disabled], include_hidden: false }, label[:id] %>
            <%= label.name %>
          <% end %>
        </td>
      </tr>
    </tbody>
  </table>
</div>
  <div class="task_show">
    <ul>
      <li class="confirm-submit"><%= form.submit nil, class:"btn btn-primary" %></li>
      <li class="confirm-submit"><%= form.submit '戻る', name: 'back', class:"btn btn-light" %></li>
    </ul>
  </div>
<% end %>