<h3><%= t('view.can_i_send_the_following_contents?') %></h3>
<%= form_with(model:@task, url:tasks_path, local:true) do |form| %>
  <%= form.hidden_field :title %>
  <%= form.hidden_field :content %>
  <%= form.hidden_field :expired %>
  <%= form.hidden_field :status %>
  <%= form.hidden_field :priority %>
  <div class="task-show">
    <%= t('view.title') %><br><%= @task.title %>
  </div>
  <div class="task-show">
    <%= t('view.content') %><br><%= @task.content %>
  </div>
  <div class="task-show">
    <%= t('view.end_time') %><br><%= @task.expired %>
  </div>
  <div class="task-show">
    <%= t('view.status') %><br><%= @task.status %>
  </div>
  <div class="task-show">
    <%= t('view.priority') %><br><%= @task.priority %>
  </div>
  <div class="task_show">
    <ul>
      <li class="confirm-submit"><%= form.submit nil, class:"btn btn-primary" %></li>
      <li class="confirm-submit"><%= form.submit '戻る', name: 'back', class:"btn btn-light" %></li>
    </ul>
  </div>
<% end %>