<h3><%= t('view.task_list') %></h3>
<div class="container">
  <div class="low">
    <% @tasks.each do |task| %>
      <div class="col-md-6">
        <table>
          <tr>
            <td><%= task.title %></td>
          </tr>
          <tr>
            <td><%= task.content %></td>
          </tr>
          <tr>
            <td>
              <ul>
                <li>
                  <%= button_to task_path(task.id), method: :get, calss:"btn btn-" do %>
                    <span><%= t('view.details')  %></span>
                  <% end %>
                </li>
                <li>
                  <%= button_to edit_task_path(task.id), method: :get, calss:"btn btn-" do %>
                    <span><%= t('view.edit') %></span>
                  <% end %>
                </li>
                <li>
                  <%= button_to task_path(task.id), method: :delete, calss:"btn btn-", 
                      data: { confirm: '本当に削除して良いですか？' } do %>
                    <span><%= t('view.delete') %></span>
                  <% end %>
                </li>
              </ul>
            </td>
          </tr>
        </table>
      </div>
    <% end %>
  </div>
</div>
<%= button_to new_task_path, method: :get, class:"btn btn-" do %>
  <span><%= t('view.task_create') %></span>
<% end %>