<h3><%= t('view.task_list') %></h3>
<div calss="search-erea">
  <%= form_with(scope: :search, url: tasks_path, method: :get, local: true) do |form| %>
    <%= form.label :title %>
    <%= form.text_field :title, value: @search_params[:title] %>
    <%= form.label :status %>
    <%= form.select :status, [["未着手", "未着手"], ["着手中", "着手中"], ["完了", "完了"]],
                    value: @search_params[:status], include_blank: '選択してください' %>
    <%= form.submit "検索", class:"btn btn-" %>
  <% end %>
</div>
<div class="container">
  <div class="low">
    <table>
      <div class="col-md-6">
        <thead>
          <tr>
            <th class="title"><%= t('view.title') %></th>
            <th class="content"><%= t('view.content') %></th>
            <th class="create-time"><%= t('view.create_time') %></th>
            <th class="end-time"><%= t('view.end_time') %>
              <%= link_to "▼", tasks_path(sort_desc: "true", name: :"expired"), class:"select-order" %>
              <%= link_to "▲", tasks_path(sort_asc: "true", name: :"expired"), class:"select-order" %>
            </th>
            <th class="status"><%= t('view.status') %></th>
          </tr>
        </thead>
      </div>
      <% @tasks.each do |task| %>
      <div class="col-md-6">
        <tbody>
          <tr id="task-test">
            <td class="title"><%= task.title %></td>
            <td class="content"><%= task.content %></td>
            <td class="create-time"><%= l task.created_at, format: :short %></td>
            <td class="end-time"><%= l task.expired, format: :short %></td>
            <td class="status"><%= task.status %></td>
            <td>
              <ul>
                <li>
                  <%= button_to task_path(task.id), method: :get, calss:"btn btn-" do %>
                    <span><%= t('view.details')  %></span>
                  <% end %>
                </li>
                <li>
                  <%= button_to edit_task_path(task.id), method: :get, calss:"btn btn-" do %>
                    <span><%= t('view.edit') %></span>
                  <% end %>
                </li>
                <li>
                  <%= button_to task_path(task.id), method: :delete, calss:"btn btn-", 
                      data: { confirm: '本当に削除して良いですか？' } do %>
                    <span><%= t('view.delete') %></span>
                  <% end %>
                </li>
              </ul>
            </td>
          </tr>
        </tbody>
      </div>
      <% end %>
    </table>
  </div>
</div>
<%= button_to new_task_path, method: :get, class:"btn btn-" do %>
  <span><%= t('view.task_create') %></span>
<% end %>