<h3><%= t('view.task_details') %></h3>
<div class="task-show">
  <div class="task-title">
    <%= t('view.title') %><br><%= @task.title %>
  </div>
  <div class="task-content">
    <%= t('view.content')  %><br><%= @task.title %>
  </div>
  <div class="task-end-time">
    <%= t('view.end_time') %><br><%= @task.expired %>
  </div>
  <div class="task-status">
    <%= t('view.status') %><br><%= @task.status %>
  </div>
</div>
<%= button_to tasks_path, method: :get, class:"btn btn-" do %>
  <span><%= t('view.task_list') %></span>
<% end %>
