<div class="spece">
  <h3>ユーザー詳細（<%= @user.name %>）</h3>
</div>
<div class="col-md-12">
  <table class="table table-bordered table-hover">
    <thead class="table-dark">
      <tr>
        <th scope="col">タイトル</th>
        <th scope="col">内容</th>
        <th scope="col">作成日時</th>
        <th scope="col">終了期限</th>
        <th scope="col">ステータス</th>
        <th scope="col">優先度</th>
      </tr>
    </thead>
    <tbody>
    <% @user_tasks.each do |task| %>
      <tr>
        <td><%= task.title %></td>
        <td><%= task.content %></td>
        <td><%= l task.created_at, format: :short %></td>
        <td><%= l task.expired, format: :short %></td>
        <td><%= task.status %></td>
        <td><%= task.priority %></td>
      <tr>
    <% end %>
    </tbody>
  </table>
  <div class="mb-3">
    <%= paginate @user_tasks %>
    <%= page_entries_info @user_tasks %>
  </div>

</div>
